body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* Barra superior roja de la Generalitat */
.top-bar {
    background-color: #CC0000;
    color: white;
    padding: 5px 20px;
    font-size: 12px;
    text-align: right;
}

header {
    background-color: white;
    padding: 20px;
    border-bottom: 4px solid #003366; /* Azul Mossos */
}

.mossos {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #003366;
}

.policia {
    color: #666;
    font-size: 14px;
}

nav {
    background-color: #003366;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #004a94;
}
